body{
    background: white;
    font-size: medium;
    font-family: inherit;
}
h1{
    background: rebeccapurple;
    font-style: italic;
    text-align: center;
    text-decoration: wavy;
}
h2{
    background-attachment: fixed
    ;
}
ul{
    font-size: medium;
    font-style: normal;
}
a{
    background-color: blue;
    font-style: oblique;
    font-weight: bold;
}